# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
C:\Users\omshi\Desktop\mydailywork\Level_1\Task_1\node_modules
C:\Users\omshi\Desktop\mydailywork\Level_1\Task_2\node_modules
C:\Users\omshi\Desktop\mydailywork\Level_1\Task_3\node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

